#wrapper {
	margin:0px auto;
}

h1, h2, h3 {
	color:white;
	margin:0px auto;
}

#page_headers {
	background-color:black;
	height:50px;
}

#page_headers #login_div {
	margin-left:10px;
	margin-right:10px;
}


#center_content {
	background: url("../images/koi_oil_crop.jpeg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height:300px;
}

	#center_content #center_text {
		background-color:rgba(74,78,79,0.4);
		opacity:0.85;
	}

#register_modal, #login_modal, #register_confirmation {
	border-radius:5px;
}

#register_confirmation {
}

	#register_confirmation h3 {
		color:black;
	}

#about_drop {
	border:5px solid black;
	color:black;
}